Repository cmhac/enforce-notebook-run-order: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest, force README.md build

pylint:
  name: pylint
  entry: pylint
  language: system

pytest:
  name: pytest
  entry: make test
  language: system

force README.md build:
  name: force README.md build
  entry: make README.md
  language: system

fix typo
  src/enforce_notebook_run_order/temp_notebook.py
Due: pylint, pytest

Update README.md
  README.md
Due: none

drop support for python3.8
  .github/workflows/publish-pypi.yaml
  .github/workflows/test.yaml
  poetry.lock
  poetry.toml
  pyproject.toml
Due: none

remove notebook running features
  README.md
  docs/conf.py
  docs/python_api.rst
  pyproject.toml
  src/enforce_notebook_run_order/cli.py
  src/enforce_notebook_run_order/enforce_notebook_run_order.py
  src/enforce_notebook_run_order/temp_notebook.py
  test/test_data/temp_notebook_uses_external_data/input/test_file.txt
  test/test_data/temp_notebook_uses_external_data/temp_notebook_uses_external_data.ipynb
  test/test_data/temp_notebook_uses_external_data/temp_notebook_uses_external_data_directory.ipynb
  test/test_data/test_virtual_environment/test_lib/python3.x/site-packages/testpackage/tests/test_data/invalid_notebook.ipynb
  test/test_enforce_notebook_run_order.py
  test/test_temp_notebook.py
Due: pylint, pytest, force README.md build

bump version in readme
  README.md
Due: none

fix workflows
  .github/workflows/auto-tag.yml
  .github/workflows/docs.yml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

update version in readme
  README.md
Due: none

restructure package
  .github/workflows/test.yaml
  Makefile
  README.md
  enforce_notebook_run_order/__init__.py
  enforce_notebook_run_order/cli.py
  enforce_notebook_run_order/enforce_notebook_run_order.py
  enforce_notebook_run_order/utils.py
  poetry.lock
  pyproject.toml
Due: pylint, pytest

bump poetry version for actions
  .github/workflows/auto-tag.yml
  .github/workflows/docs.yml
  .github/workflows/publish-pypi.yaml
Due: none

remove unneded dependencies
  poetry.lock
  pyproject.toml
Due: none

remove unnecessary step from workflow
  .github/workflows/publish-pypi.yaml
Due: none

update pre-commit requirement
  poetry.lock
  pyproject.toml
Due: none

fix: run pre-commit commands in poetry context
  Makefile
Due: none

run docs command from poetry context
  Makefile
Due: none

test: update tests for recursive notebook checking
  test/test_enforce_notebook_run_order.py
Due: pylint, pytest

in-repo=true
  poetry.toml
Due: none

test: add two tests for uncovered branches
  test/test_enforce_notebook_run_order.py
Due: pylint, pytest

refactor: split cli tests into separate module
  test/test_cli.py
  test/test_enforce_notebook_run_order.py
Due: pylint, pytest

refactor: clean up test naming conventions
  test/test_cli.py
  test/test_enforce_notebook_run_order.py
  test/test_utils.py
Due: pylint, pytest

chore: bump version
  pyproject.toml
Due: none

fix(ci): update checkout action to v4 and use default github token with write permissions instead of PAT
  .github/workflows/auto-tag.yml
Due: none

fix(ci): update workflow triggers
  .github/workflows/auto-tag.yml
  .github/workflows/docs.yml
  .github/workflows/publish-pypi.yaml
  .github/workflows/test.yaml
Due: none

fix(ci): drop branch filter for downstream workflows
  .github/workflows/docs.yml
  .github/workflows/publish-pypi.yaml
Due: none

docs: create root AGENTS.md
  AGENTS.md
Due: none

docs: remove outdated documentation
  GITHUB_README.rst
  README.md
  docs/README.rst
  enforce_notebook_run_order/cli.py
  enforce_notebook_run_order/enforce_notebook_run_order.py
  enforce_notebook_run_order/utils.py
Due: pylint, pytest, force README.md build

refactor: move gh readme doc to docs folder
  Makefile
  docs/GITHUB_README.rst
Due: force README.md build

chore: remove deprecated functions and cleanup tests
  enforce_notebook_run_order/utils.py
  test/conftest.py
  test/test_enforce_notebook_run_order.py
  test/test_utils.py
Due: pylint, pytest

test: add tests for non-python notebooks
  test/test_cli.py
  test/test_data/julia_notebooks/invalid_julia_notebook.ipynb
  test/test_data/julia_notebooks/valid_julia_notebook.ipynb
  test/test_data/r_notebooks/invalid_r_notebook.ipynb
  test/test_data/r_notebooks/valid_r_notebook.ipynb
  test/test_multi_language_notebooks.py
Due: pylint, pytest

refactor: restructure test data for consistency
  test/test_cli.py
  test/test_data/notebooks/julia/invalid/invalid_julia_notebook.ipynb
  test/test_data/notebooks/julia/valid/valid_julia_notebook.ipynb
  test/test_data/notebooks/nested_subdirectory_structure/level1/level2/invalid_nested_notebook.ipynb
  test/test_data/notebooks/nested_subdirectory_structure/level1/level2/valid_nested_notebook.ipynb
  test/test_data/notebooks/nested_subdirectory_structure/level1/valid_level1_notebook.ipynb
  test/test_data/notebooks/python/invalid/valid_notebook.ipynb
  test/test_data/notebooks/python/valid/valid_notebook.ipynb
  test/test_data/notebooks/r/invalid/invalid_r_notebook.ipynb
  test/test_data/notebooks/r/valid/valid_r_notebook.ipynb
  test/test_enforce_notebook_run_order.py
  test/test_multi_language_notebooks.py
  test/test_utils.py
Due: pylint, pytest

docs: add language support note to docs
  AGENTS.md
  README.md
  docs/README.rst
Due: force README.md build

chore: add nbqa to repo
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

docs: remove hard-coded version number from docs
  README.md
  docs/README.rst
Due: force README.md build

docs: update installation instructions
  README.md
  docs/README.rst
Due: force README.md build

chore: add validation + docs for exact nb requirements
  README.md
  docs/README.rst
  enforce_notebook_run_order/enforce_notebook_run_order.py
  test/conftest.py
  test/test_enforce_notebook_run_order.py
Due: pylint, pytest, force README.md build

feat: use rich for styled outputs
  enforce_notebook_run_order/enforce_notebook_run_order.py
  poetry.lock
  pyproject.toml
  test/test_cli.py
Due: pylint, pytest

fix: remove misplaced test notebook and update tests
  test/test_cli.py
  test/test_data/notebooks/python/invalid/invalid_notebook.ipynb
Due: pylint, pytest

feat: clean up error messages
  enforce_notebook_run_order/enforce_notebook_run_order.py
  test/test_enforce_notebook_run_order.py
Due: pylint, pytest

Path conditions:
  pylint: any of: \.py$
  pytest: any of: \.py$
  force README.md build: any of: \.rst$
