Repository cmhac/enforce-notebook-run-order: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest, force README.md build

pylint:
  name: pylint
  entry: pylint
  language: system

pytest:
  name: pytest
  entry: make test
  language: system

force README.md build:
  name: force README.md build
  entry: make README.md
  language: system

update readme
  README.md
  docs/README.rst
Due: force README.md build

rework docs workflow
  .github/workflows/docs.yml
Due: none

update workflow
  .github/workflows/docs.yml
Due: none

udpate workflow
  .github/workflows/docs.yml
Due: none

deploy: b22f496c9acbfa3cbafa80b47acd7aff5b94c52f
  .buildinfo
  .doctrees/README.doctree
  .doctrees/environment.pickle
  .doctrees/index.doctree
  .doctrees/module_enforce_notebook_run_order.doctree
  .nojekyll
  README.html
  _sources/README.rst.txt
  _sources/index.rst.txt
  _sources/module_enforce_notebook_run_order.rst.txt
  _static/alabaster.css
  _static/basic.css
  _static/custom.css
  _static/doctools.js
  _static/documentation_options.js
  _static/file.png
  _static/language_data.js
  _static/minus.png
  _static/plus.png
  _static/pygments.css
  _static/searchtools.js
  _static/sphinx_highlight.js
  genindex.html
  index.html
  module_enforce_notebook_run_order.html
  objects.inv
  search.html
  searchindex.js
Due: none

just install using poetry
  .github/workflows/docs.yml
Due: none

import local project in conf.py
  docs/conf.py
Due: pylint, pytest

fix typo
  .github/workflows/docs.yml
Due: none

increment version and update pyproject.toml
  README.md
  docs/README.rst
  pyproject.toml
Due: force README.md build

build docs after tests pass
  .github/workflows/docs.yml
Due: none

update docs
  README.md
  docs/README.rst
Due: force README.md build

add pypi badge
  GITHUB_README.rst
  README.md
Due: force README.md build

resize
  GITHUB_README.rst
  README.md
Due: force README.md build

fail_fast: false
  .pre-commit-hooks.yaml
  pyproject.toml
Due: none

fix capitalization of pre-commit
  README.md
  docs/README.rst
Due: force README.md build

rename function
  src/enforce_notebook_run_order.py
  test/test_enforce_notebook_run_order.py
Due: pylint, pytest

rework api to confirm with pre-commit
  src/enforce_notebook_run_order.py
  test/test_enforce_notebook_run_order.py
Due: pylint, pytest

update version
  pyproject.toml
Due: none

remove filter from deploy step
  .github/workflows/docs.yml
Due: none

print success message if no errors were raised
  src/enforce_notebook_run_order.py
Due: pylint, pytest

rename variable for consistency
  src/enforce_notebook_run_order.py
Due: pylint, pytest

create temp_notebook.py
  src/temp_notebook.py
  test/test_temp_notebook.py
Due: pylint, pytest

create coveragerc
  .coveragerc
Due: none

update fixture
  test/test_temp_notebook.py
Due: pylint, pytest

add validation methods
  src/temp_notebook.py
  test/test_temp_notebook.py
Due: pylint, pytest

add test
  test/test_temp_notebook.py
Due: pylint, pytest

add ntoebook running to script
  src/enforce_notebook_run_order.py
Due: pylint, pytest

allow omitting runs
  src/enforce_notebook_run_order.py
  test/test_enforce_notebook_run_order.py
Due: pylint, pytest

warn if using no-run
  src/enforce_notebook_run_order.py
  test/test_enforce_notebook_run_order.py
Due: pylint, pytest

add shortcut command to scripts
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$
  pytest: any of: \.py$
  force README.md build: any of: \.rst$
