Repository cmhac/enforce-notebook-run-order: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest, force README.md build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: pytest
        name: pytest
        entry: make test
        language: system
        types: [python]
      - id: force README.md build
        name: force README.md build
        entry: make README.md
        language: system
        types: [rst]

update docs
  README.md
  docs/README.rst
Due: force README.md build

bump version
  pyproject.toml
Due: none

create new utility function
  src/enforce_notebook_run_order.py
  src/temp_notebook.py
  src/utils.py
Due: pylint, pytest

rename mis-named test file
  test/test_data/enforce_notebook_run_order_invalid/test_subdirectory/invalid_subdirectory_notebook.ipynb
  test/test_enforce_notebook_run_order.py
Due: pylint, pytest

restructure package
  pyproject.toml
  src/enforce_notebook_run_order/__init__.py
  src/enforce_notebook_run_order/cli.py
  src/enforce_notebook_run_order/enforce_notebook_run_order.py
  src/enforce_notebook_run_order/temp_notebook.py
  src/enforce_notebook_run_order/utils.py
  test/test_enforce_notebook_run_order.py
  test/test_temp_notebook.py
Due: pylint, pytest

increment version
  pyproject.toml
Due: none

update docstrings/docs
  README.md
  docs/README.rst
  docs/cli.rst
  docs/index.rst
  docs/module_enforce_notebook_run_order.rst
  docs/python_api.rst
  src/enforce_notebook_run_order/cli.py
  src/enforce_notebook_run_order/enforce_notebook_run_order.py
  src/enforce_notebook_run_order/temp_notebook.py
  src/enforce_notebook_run_order/utils.py
Due: pylint, pytest, force README.md build

update docs and theme
  docs/conf.py
  docs/index.rst
Due: pylint, pytest, force README.md build

add new ways to disable output checks
  README.md
  docs/README.rst
  pyproject.toml
  src/enforce_notebook_run_order/temp_notebook.py
  src/enforce_notebook_run_order/utils.py
  test/test_temp_notebook.py
  test/test_utils.py
Due: pylint, pytest, force README.md build

update version in sample pre-commit hook
  README.md
  docs/README.rst
Due: force README.md build

update version number in readme
  README.md
  docs/README.rst
  pyproject.toml
Due: force README.md build

add missisng theme dependency
  poetry.lock
  pyproject.toml
Due: none

rename exception
  src/enforce_notebook_run_order/enforce_notebook_run_order.py
  src/enforce_notebook_run_order/temp_notebook.py
  test/test_temp_notebook.py
Due: pylint, pytest

pass path to notebook to TempNotebook rather than data
  src/enforce_notebook_run_order/enforce_notebook_run_order.py
  src/enforce_notebook_run_order/temp_notebook.py
  test/test_temp_notebook.py
Due: pylint, pytest

better error message handling for failed notebook runs
  src/enforce_notebook_run_order/temp_notebook.py
Due: pylint, pytest

don't duplicate notebooks before running
  src/enforce_notebook_run_order/temp_notebook.py
  test/test_data/temp_notebook_uses_external_data/input/test_file.txt
  test/test_data/temp_notebook_uses_external_data/temp_notebook_uses_external_data.ipynb
  test/test_data/temp_notebook_uses_external_data/temp_notebook_uses_external_data_directory.ipynb
  test/test_temp_notebook.py
Due: pylint, pytest

update version
  pyproject.toml
Due: none

add coveralls step
  .github/workflows/test.yaml
Due: none

--cov
  .github/workflows/test.yaml
Due: none

Update test.yaml
  .github/workflows/test.yaml
Due: none

poetry run coverage xml
  .github/workflows/test.yaml
Due: none

add badge
  GITHUB_README.rst
  README.md
Due: force README.md build

use sys.executable for running notebooks
  pyproject.toml
  src/enforce_notebook_run_order/temp_notebook.py
Due: pylint, pytest

Update README.rst
  docs/README.rst
Due: force README.md build

Update publish-pypi.yaml
  .github/workflows/publish-pypi.yaml
Due: none

update readme
  README.md
Due: none

Added --allow-not-run-notebook option Allow notebooks with only unrun cells to pass.
  src/enforce_notebook_run_order/cli.py
  src/enforce_notebook_run_order/enforce_notebook_run_order.py
  test/test_enforce_notebook_run_order.py
Due: pylint, pytest

Fix pre-commit hook
  README.md
Due: none

Fix pre-commit hook instructions
  docs/README.rst
Due: force README.md build

Apply no-run flag to single notebooks
  src/enforce_notebook_run_order/enforce_notebook_run_order.py
Due: pylint, pytest

do not evaluate empty cells. fixes issue #13
  src/enforce_notebook_run_order/enforce_notebook_run_order.py
  test/test_enforce_notebook_run_order.py
Due: pylint, pytest

Bump version
  pyproject.toml
Due: none

create codespaces devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Clean up type hints and docstrings
  src/enforce_notebook_run_order/cli.py
  src/enforce_notebook_run_order/enforce_notebook_run_order.py
  src/enforce_notebook_run_order/temp_notebook.py
  src/enforce_notebook_run_order/utils.py
Due: pylint, pytest

remove unused imports
  src/enforce_notebook_run_order/cli.py
  src/enforce_notebook_run_order/utils.py
Due: pylint, pytest
